/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-mar-2018, 20:06:07
    Author     : DAW
*/

.titulo{
    -fx-font-family:"Open Sans";
    -fx-font-weight:bold;
    -fx-font-color: #ccccff;
    -fx-font-size:28;
    -fx-alignment:CENTER;
}
.titulo20{
    -fx-font-family:"Open Sans";
    -fx-font-weight:bold;
    -fx-text-fill: whitesmoke;
    -fx-font-size:20;
    -fx-alignment:CENTER;
}
.titulo16{
    -fx-font-family:"Open Sans";
    -fx-font-weight:bold;
    -fx-text-fill: black;
    -fx-font-size:16;
}

.leftPane{
    -fx-padding:0;
    -fx-spacing:0;
    -fx-border-color:#000000;
    -fx-background-color:#FFFFFF;
    -fx-color:#fff;
}
.rightPane{
    -fx-border-color:#000000;
    -fx-background-color:#e0f2f1;
    -fx-color:#fff;
}
/*

color name="primaryColor">#baddf9</color>
<color name="primaryLightColor">#edffff</color>
<color name="primaryDarkColor">#89abc6</color>
<color namesecondaryColor">#2979ff</color>
<color name="secondaryLightColor">#75a7ff</color>
<color name="secondaryDarkColor">#004ecb</color>
<color name="primaryTextColor">#000000</color>
<color name="secondaryTextColor">#fafafa*/
.botonMainMenu{
    -fx-padding:0;
    -fx-border-color:#777777;
    -fx-background-color:#ffffff;
    -fx-color:#fff;
    -fx-font-size:15px;
    -fx-font-weight:bold;
}


.botonMainMenu:hover{
    -fx-border-color:#000000;
    -fx-background-color:#ffffff;
    -fx-color:#ffffff;
    -fx-font-size:15px;
    -fx-font-weight:bold;
}
.botonMainMenu12{
    -fx-padding:0;
    -fx-border-color:#777777;
    -fx-background-color:#ffffff;
    -fx-color:#fff;
    -fx-font-size:12px;
    -fx-font-weight:bold;
}
.botonMainMenu:hover{
    -fx-border-color:#000000;
    -fx-background-color:#ffffff;
    -fx-color:#ffffff;
    -fx-font-size:12px;
    -fx-font-weight:bold;
}
.boton{
    -fx-font-family:"Ebrima";
    -fx-border-color: #3d5afe;
    -fx-background-color:#80deea ;
    -fx-border-radius:18;
    -fx-border-color:#44ff55;
    -fx-background-radius:18;
    -fx-border-width:1.5;
}
.boton:hover{
    -fx-font-family:"Ebrima";
    -fx-font-weight:bold;
    -fx-border-color: #ffa726;
    -fx-background-color:#fff9c4 ;
    -fx-border-radius:18;
    -fx-background-radius:18;
    -fx-border-width:3;
}
.boton:pressed{
    -fx-font-family:"Ebrima";
    -fx-font-weight:bold;
    -fx-border-color: #455a64 ;
    -fx-background-color:#e0e0e0 ;
    -fx-border-radius:18;
    -fx-background-radius:18;
    -fx-border-width:3;
}

.fondoAzul{
    -fx-background-color:#e8eaf6;
    -fx-background-radius:1px;
}
.fondoRosa{
    -fx-background-color:#fce4ec;
    -fx-background-radius:1px;

}
.textoCentrado{
    -fx-alignment: center;
}

.disabledText:disabled{
    -fx-opacity: 1.0; /* Muestra el texto deshabilitado con más claridad*/
    -fx-background-radius:1px;
}
.fondoSmoke{
    -fx-background-color: rgba(0,0,0,0.3);
    -fx-border-color:black;
    -fx-background-radius:5px;

}
.textoLogin{

    -fx-text-fill:white;
    -fx-font-weight:bold;
    -fx-font-size:16;

}
.textoEsc{
    -fx-text-fill:white;
    -fx-font-size:10;

}
.noheader .column-header-background{ /*quita los encabezados de la tabla de búsqueda*/
    -fx-max-height:0;
    -fx-pref-height:0;
    -fx-min-height:0;

}
.tableview:disabled{
    -fx-opacity: 0.7; /* Muestra el texto deshabilitado con más claridad*/
    -fx-background-color: rgba(0,0,22,0.6);
    -fx-color:rgba(40,0,22,0.6);
}


.numFactura{
    -fx-text-fill: whitesmoke;
    -fx-font-size:14;
    -fx-font-weight: bold;
    
}
.fondo1{
    -fx-background-color:#bbdefb;
    

}
.fondo2{
    -fx-background-color:#dcedc8;
  
}
.fondo3{
    -fx-background-color:#d1c4e9;
  
}
.fondo4{
    -fx-background-color:#333333;
  
}
.bordeRedondo5px{
    -fx-background-radius:5px;
    -fx-border-radius:5px;
}
.bordeColorTeal{
    -fx-border-width: 1; 
    -fx-border-color: teal;
}


